IF NOT EXISTS (
	SELECT *
	FROM sys.databases
	WHERE name = 'JungleBase'
)
BEGIN
    CREATE DATABASE [JungleBase]
END
GO

USE [JungleBase]
GO
/****** Object:  Table [dbo].[Cita]    Script Date: 15/09/2022 9:45:13 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cita](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[HoraInicio] [time](7) NOT NULL,
	[HoraFIn] [time](7) NULL,
	[Fecha] [date] NOT NULL,
	[Sede] [varchar](50) NULL,
	[IdUsuarioAgenda] [int] NULL,
	[IdUsuarioAtiende] [int] NULL,
	[IdEstado] [int] NULL,
 CONSTRAINT [PK__citas__5E31E370D60AAB1A] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DetalleCita]    Script Date: 15/09/2022 9:45:13 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DetalleCita](
	[id] [int] NOT NULL,
	[IdServicios] [int] NULL,
	[IdProductos] [int] NULL,
	[IdCita] [int] NULL,
	[idEstado] [int] NULL,
 CONSTRAINT [PK_DetalleCita] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Estado]    Script Date: 15/09/2022 9:45:13 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Estado](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](50) NULL,
	[Descripcion] [varchar](50) NULL,
 CONSTRAINT [PK_Estados] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Inventario]    Script Date: 15/09/2022 9:45:13 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Inventario](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](50) NULL,
	[FechaCreacion] [datetime] NULL,
 CONSTRAINT [PK_Inventario] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MovimientoInventario]    Script Date: 15/09/2022 9:45:13 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MovimientoInventario](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Cantidad] [int] NOT NULL,
	[IdProductos] [int] NOT NULL,
	[IdInventario] [int] NOT NULL,
	[IdTipoMovimientoInventario] [int] NOT NULL,
	[FechaCreacion] [datetime] NOT NULL,
 CONSTRAINT [PK_MovimientoInventario] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Persona]    Script Date: 15/09/2022 9:45:13 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Persona](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](50) NULL,
	[Apellido] [varchar](50) NULL,
	[Direccion] [varchar](50) NOT NULL,
	[Telefono] [varchar](18) NULL,
	[IdTipoDocumento] [int] NULL,
	[Correo] [varchar](80) NOT NULL,
	[FechaNacimiento] [date] NOT NULL,
	[NumeroDocumento] [varchar](50) NULL,
 CONSTRAINT [PK_Personas] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Productos]    Script Date: 15/09/2022 9:45:13 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Productos](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](30) NOT NULL,
	[Valor_unitario] [varchar](30) NOT NULL,
	[Referecia_marca] [varchar](30) NOT NULL,
	[IdTipoProducto] [int] NULL,
	[FechaCreacion] [datetime] NULL,
 CONSTRAINT [PK__Producto__1D8EFF0128F0CAB0] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 15/09/2022 9:45:13 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](40) NULL,
	[Descripcion] [nvarchar](50) NULL,
 CONSTRAINT [PK_Roles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Servicios]    Script Date: 15/09/2022 9:45:13 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Servicios](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](30) NULL,
	[Valor] [decimal](18, 0) NULL,
	[FechaCreacion] [datetime] NULL,
 CONSTRAINT [PK__Servicio__5B1345F0184124E4] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TipoDocumento]    Script Date: 15/09/2022 9:45:13 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TipoDocumento](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](40) NULL,
	[Descripcion] [varbinary](100) NULL,
 CONSTRAINT [PK_Tip_de_documento] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TipoMovimientoInventario]    Script Date: 15/09/2022 9:45:13 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TipoMovimientoInventario](
	[Id] [int] NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
	[Salida] [varchar](50) NULL,
 CONSTRAINT [PK_TipoMovimientoInventario] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TipoProducto]    Script Date: 15/09/2022 9:45:13 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TipoProducto](
	[Id] [int] NOT NULL,
	[Nombre] [varchar](50) NULL,
 CONSTRAINT [PK_TipoProducto] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuarios]    Script Date: 15/09/2022 9:45:13 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuarios](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Usuario] [varchar](20) NULL,
	[Contraseña] [varchar](30) NULL,
	[IdPersona] [int] NOT NULL,
 CONSTRAINT [PK_Usuarios_1] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UsuarioXRol]    Script Date: 15/09/2022 9:45:13 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UsuarioXRol](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdRol] [int] NOT NULL,
	[IdUsuario] [int] NOT NULL,
 CONSTRAINT [PK_UsuarioXRol] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Estado] ON 

INSERT [dbo].[Estado] ([Id], [Nombre], [Descripcion]) VALUES (1, NULL, N'')
SET IDENTITY_INSERT [dbo].[Estado] OFF
SET IDENTITY_INSERT [dbo].[Inventario] ON 

INSERT [dbo].[Inventario] ([Id], [Nombre], [FechaCreacion]) VALUES (1, N'Tinte Barba', CAST(N'2022-08-29T15:18:23.890' AS DateTime))
INSERT [dbo].[Inventario] ([Id], [Nombre], [FechaCreacion]) VALUES (2, N'tintes cabello', CAST(N'2022-08-23T01:18:23.290' AS DateTime))
INSERT [dbo].[Inventario] ([Id], [Nombre], [FechaCreacion]) VALUES (1002, N'crema cara', CAST(N'2022-08-22T20:59:16.370' AS DateTime))
SET IDENTITY_INSERT [dbo].[Inventario] OFF
SET IDENTITY_INSERT [dbo].[MovimientoInventario] ON 

INSERT [dbo].[MovimientoInventario] ([Id], [Cantidad], [IdProductos], [IdInventario], [IdTipoMovimientoInventario], [FechaCreacion]) VALUES (2, 5, 1, 1005, 1, CAST(N'2022-08-16T07:43:21.610' AS DateTime))
INSERT [dbo].[MovimientoInventario] ([Id], [Cantidad], [IdProductos], [IdInventario], [IdTipoMovimientoInventario], [FechaCreacion]) VALUES (3, 3, 9, 1005, 1, CAST(N'2022-08-16T07:43:33.950' AS DateTime))
INSERT [dbo].[MovimientoInventario] ([Id], [Cantidad], [IdProductos], [IdInventario], [IdTipoMovimientoInventario], [FechaCreacion]) VALUES (4, 5, 8, 1, 1, CAST(N'2022-08-17T16:03:35.863' AS DateTime))
SET IDENTITY_INSERT [dbo].[MovimientoInventario] OFF
SET IDENTITY_INSERT [dbo].[Persona] ON 

INSERT [dbo].[Persona] ([Id], [Nombre], [Apellido], [Direccion], [Telefono], [IdTipoDocumento], [Correo], [FechaNacimiento], [NumeroDocumento]) VALUES (1, N'Juan', N'Perez  suarez', N'Dg 43 s # 24-56', N'3214568574', 1, N'juanp@gmail.com', CAST(N'2022-09-05' AS Date), N'1569874556')
INSERT [dbo].[Persona] ([Id], [Nombre], [Apellido], [Direccion], [Telefono], [IdTipoDocumento], [Correo], [FechaNacimiento], [NumeroDocumento]) VALUES (2, N'Geidy', N'Fernandez', N'Tv 43 usr # 22 a 22', N'3044396554', 1, N'jairgrneine@gmail.com', CAST(N'2022-09-05' AS Date), N'52130589')
INSERT [dbo].[Persona] ([Id], [Nombre], [Apellido], [Direccion], [Telefono], [IdTipoDocumento], [Correo], [FechaNacimiento], [NumeroDocumento]) VALUES (3, N'Pedro luis', N'Bustos Bustos', N'cra 45 # 52 89', N'3125897485', 1, N'peluis@homtail.com', CAST(N'2022-09-05' AS Date), N'15454545')
SET IDENTITY_INSERT [dbo].[Persona] OFF
SET IDENTITY_INSERT [dbo].[Productos] ON 

INSERT [dbo].[Productos] ([Id], [Nombre], [Valor_unitario], [Referecia_marca], [IdTipoProducto], [FechaCreacion]) VALUES (1, N'ceras', N'2000000', N'BarberShop', 2, NULL)
INSERT [dbo].[Productos] ([Id], [Nombre], [Valor_unitario], [Referecia_marca], [IdTipoProducto], [FechaCreacion]) VALUES (8, N'Ceras', N'15.000', N'BarberShop', 5, NULL)
INSERT [dbo].[Productos] ([Id], [Nombre], [Valor_unitario], [Referecia_marca], [IdTipoProducto], [FechaCreacion]) VALUES (9, N'Tayron producto', N'2500000', N'Tayron Barberia', 3, NULL)
SET IDENTITY_INSERT [dbo].[Productos] OFF
SET IDENTITY_INSERT [dbo].[Roles] ON 

INSERT [dbo].[Roles] ([Id], [Nombre], [Descripcion]) VALUES (1, N'Administrador', N'Control')
INSERT [dbo].[Roles] ([Id], [Nombre], [Descripcion]) VALUES (2, N'Barbero', N'Barbero')
INSERT [dbo].[Roles] ([Id], [Nombre], [Descripcion]) VALUES (3, N'Cliente', NULL)
SET IDENTITY_INSERT [dbo].[Roles] OFF
SET IDENTITY_INSERT [dbo].[Servicios] ON 

INSERT [dbo].[Servicios] ([Id], [Nombre], [Valor], [FechaCreacion]) VALUES (1, N'Corte barba ', CAST(40000 AS Decimal(18, 0)), CAST(N'2022-02-20T00:00:00.000' AS DateTime))
INSERT [dbo].[Servicios] ([Id], [Nombre], [Valor], [FechaCreacion]) VALUES (2, N'cejas mujer', CAST(2000 AS Decimal(18, 0)), CAST(N'2022-02-20T00:00:00.000' AS DateTime))
INSERT [dbo].[Servicios] ([Id], [Nombre], [Valor], [FechaCreacion]) VALUES (3, N'tinte', CAST(50000 AS Decimal(18, 0)), CAST(N'2022-02-20T00:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[Servicios] OFF
SET IDENTITY_INSERT [dbo].[TipoDocumento] ON 

INSERT [dbo].[TipoDocumento] ([Id], [Nombre], [Descripcion]) VALUES (1, N'Cedula', NULL)
INSERT [dbo].[TipoDocumento] ([Id], [Nombre], [Descripcion]) VALUES (2, N'Tarjeta de identidad', NULL)
INSERT [dbo].[TipoDocumento] ([Id], [Nombre], [Descripcion]) VALUES (3, N'CedulaExtranjeria', NULL)
SET IDENTITY_INSERT [dbo].[TipoDocumento] OFF
INSERT [dbo].[TipoMovimientoInventario] ([Id], [Nombre], [Salida]) VALUES (1, N'Entrada', N'1')
INSERT [dbo].[TipoMovimientoInventario] ([Id], [Nombre], [Salida]) VALUES (2, N'Salida', N'2')
INSERT [dbo].[TipoProducto] ([Id], [Nombre]) VALUES (1, N'pepepepe')
INSERT [dbo].[TipoProducto] ([Id], [Nombre]) VALUES (2, N'geles')
INSERT [dbo].[TipoProducto] ([Id], [Nombre]) VALUES (3, N'ceras')
SET IDENTITY_INSERT [dbo].[Usuarios] ON 

INSERT [dbo].[Usuarios] ([Id], [Usuario], [Contraseña], [IdPersona]) VALUES (1, N'Administrador', N'Administrador', 1)
INSERT [dbo].[Usuarios] ([Id], [Usuario], [Contraseña], [IdPersona]) VALUES (2, N'Barbero', N'Barbero', 2)
INSERT [dbo].[Usuarios] ([Id], [Usuario], [Contraseña], [IdPersona]) VALUES (3, N'Cliente', N'1234', 3)
SET IDENTITY_INSERT [dbo].[Usuarios] OFF
SET IDENTITY_INSERT [dbo].[UsuarioXRol] ON 

INSERT [dbo].[UsuarioXRol] ([Id], [IdRol], [IdUsuario]) VALUES (1, 2, 2)
INSERT [dbo].[UsuarioXRol] ([Id], [IdRol], [IdUsuario]) VALUES (2, 3, 3)
INSERT [dbo].[UsuarioXRol] ([Id], [IdRol], [IdUsuario]) VALUES (3, 3, 3)
SET IDENTITY_INSERT [dbo].[UsuarioXRol] OFF
ALTER TABLE [dbo].[Cita]  WITH CHECK ADD  CONSTRAINT [FK_Cita_Usuarios] FOREIGN KEY([IdUsuarioAgenda])
REFERENCES [dbo].[Usuarios] ([Id])
GO
ALTER TABLE [dbo].[Cita] CHECK CONSTRAINT [FK_Cita_Usuarios]
GO
ALTER TABLE [dbo].[Cita]  WITH CHECK ADD  CONSTRAINT [FK_Cita_Usuarios1] FOREIGN KEY([IdUsuarioAtiende])
REFERENCES [dbo].[Usuarios] ([Id])
GO
ALTER TABLE [dbo].[Cita] CHECK CONSTRAINT [FK_Cita_Usuarios1]
GO
ALTER TABLE [dbo].[Cita]  WITH CHECK ADD  CONSTRAINT [FK_citas_Estados] FOREIGN KEY([IdEstado])
REFERENCES [dbo].[Estado] ([Id])
GO
ALTER TABLE [dbo].[Cita] CHECK CONSTRAINT [FK_citas_Estados]
GO
ALTER TABLE [dbo].[DetalleCita]  WITH CHECK ADD  CONSTRAINT [FK_DetalleCita_Productos] FOREIGN KEY([IdProductos])
REFERENCES [dbo].[Productos] ([Id])
GO
ALTER TABLE [dbo].[DetalleCita] CHECK CONSTRAINT [FK_DetalleCita_Productos]
GO
ALTER TABLE [dbo].[DetalleCita]  WITH CHECK ADD  CONSTRAINT [FK_DetalleCita_Servicios] FOREIGN KEY([IdServicios])
REFERENCES [dbo].[Servicios] ([Id])
GO
ALTER TABLE [dbo].[DetalleCita] CHECK CONSTRAINT [FK_DetalleCita_Servicios]
GO
ALTER TABLE [dbo].[MovimientoInventario]  WITH CHECK ADD  CONSTRAINT [FK_MovimientoInventario_Inventario] FOREIGN KEY([IdInventario])
REFERENCES [dbo].[Inventario] ([Id])
GO
ALTER TABLE [dbo].[MovimientoInventario] CHECK CONSTRAINT [FK_MovimientoInventario_Inventario]
GO
ALTER TABLE [dbo].[MovimientoInventario]  WITH CHECK ADD  CONSTRAINT [FK_MovimientoInventario_Productos] FOREIGN KEY([IdProductos])
REFERENCES [dbo].[Productos] ([Id])
GO
ALTER TABLE [dbo].[MovimientoInventario] CHECK CONSTRAINT [FK_MovimientoInventario_Productos]
GO
ALTER TABLE [dbo].[MovimientoInventario]  WITH CHECK ADD  CONSTRAINT [FK_MovimientoInventario_TipoMovimientoInventario] FOREIGN KEY([IdTipoMovimientoInventario])
REFERENCES [dbo].[TipoMovimientoInventario] ([Id])
GO
ALTER TABLE [dbo].[MovimientoInventario] CHECK CONSTRAINT [FK_MovimientoInventario_TipoMovimientoInventario]
GO
ALTER TABLE [dbo].[Persona]  WITH CHECK ADD  CONSTRAINT [FK_Personas_Tip_de_documento] FOREIGN KEY([IdTipoDocumento])
REFERENCES [dbo].[TipoDocumento] ([Id])
GO
ALTER TABLE [dbo].[Persona] CHECK CONSTRAINT [FK_Personas_Tip_de_documento]
GO
ALTER TABLE [dbo].[Productos]  WITH CHECK ADD  CONSTRAINT [FK_Productos_TipoProducto] FOREIGN KEY([IdTipoProducto])
REFERENCES [dbo].[TipoProducto] ([Id])
GO
ALTER TABLE [dbo].[Productos] CHECK CONSTRAINT [FK_Productos_TipoProducto]
GO
ALTER TABLE [dbo].[Usuarios]  WITH CHECK ADD  CONSTRAINT [FK_Usuarios_Persona] FOREIGN KEY([IdPersona])
REFERENCES [dbo].[Persona] ([Id])
GO
ALTER TABLE [dbo].[Usuarios] CHECK CONSTRAINT [FK_Usuarios_Persona]
GO
ALTER TABLE [dbo].[UsuarioXRol]  WITH CHECK ADD  CONSTRAINT [FK_Usuario_por_Rol_Roles] FOREIGN KEY([IdRol])
REFERENCES [dbo].[Roles] ([Id])
GO
ALTER TABLE [dbo].[UsuarioXRol] CHECK CONSTRAINT [FK_Usuario_por_Rol_Roles]
GO
ALTER TABLE [dbo].[UsuarioXRol]  WITH CHECK ADD  CONSTRAINT [FK_Usuario_por_Rol_Usuarios] FOREIGN KEY([IdUsuario])
REFERENCES [dbo].[Usuarios] ([Id])
GO
ALTER TABLE [dbo].[UsuarioXRol] CHECK CONSTRAINT [FK_Usuario_por_Rol_Usuarios]
GO
